@page "/Pedidos/{id}"
@model Cliente.Web.Comercio.Models.Pedido

@{ ViewData["Title"] = Model.Id; }

<h1 class="display-4">@Model.Id</h1>
<p>Información de la orden de compra</p>

<p><b>Usuario</b>: @Model.UserName</p>
<p><b>Fecha de compra</b>: @Model.DateSale</p>
<p><b>Total</b>: @Model.Total</p>

<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th>SKU</th>
            <th class="text-right">Cantidad</th>
            <th class="text-right">Precio</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
<tr>
    <td>@item.SKU</td>
    <td style="width:100px;" class="text-right">@item.Cantidad</td>
    <td style="width:100px;" class="text-right">@item.Precio</td>
    
</tr>}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td class="text-right font-weight-bold" style="font-size:1.2em;">@Model.Total</td>
        </tr>
    </tfoot>
</table>